#test{
    
    width: 400px;
        height: 400px;
        background-color: red;
}

#deleteButton{
    
    position: absolute;
    bottom : 2px;
    right: 2px;
}

#board{
    
    
    width: 500px;
    height: 500px;
    
    background-color: coral;
}