#test{
    
    width: 400px;
    height: 400px;
    background-color: red;
}

#deleteButton{
    
    position: absolute;
    top : 2px;
    right: 2px;
    opacity: 0.5;
}

#board{
    
    
    width: screen.width;
    height: 600px;
    
    background-image: url(../images/table.jpg);
}

.newNote{
    
    background-image: url(../images/texture.png);
}

#textArea{
    
    width: 240px;
    height: 240px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    margin-top: 30px;
}

h1{
    
    margin-top: 0px;
    margin-bottom: 2px;
}

testDiv{
    
    width: 240px;
    height: 240px;
    background-color: chartreuse;
}
